<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.constraintlayoutseminar">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConstraintLayoutSeminar"
        tools:targetApi="31">
        <activity
            android:name=".KeyFrameInterpolationActivity"
            android:exported="false" />
        <activity
            android:name=".KeyFramePositionActivity"
            android:exported="false" />
        <activity
            android:name=".CustomAttributesActivity"
            android:exported="false" />
        <activity
            android:name=".Carousel_demo_2"
            android:exported="false" />
        <activity
            android:name=".MotionEffectActivity"
            android:exported="false" />
        <activity
            android:name=".CarouselActivity"
            android:exported="false" />
        <activity
            android:name=".ViewTransitionActivity"
            android:exported="false" />
        <activity
            android:name=".MotionLabelActivity"
            android:exported="false" />
        <activity
            android:name=".MotionActivity"
            android:exported="false" />
        <activity
            android:name=".ImageFilterButtonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>